



<div class="container-fluid">
  <div class = "top">
    <div class = "index_search">
    </div>
  </div>
  <div class = "recomend_area">
    <div class = link_image>
      <%= link_to image_tag("img_tokyo.jpeg", class:"tokyo-img"), search_result_homes_path(q:{room_address_prefecture_cont: "東京都"}) %>
      <%= link_to image_tag("img_osaka.jpeg", class:"osaka-img"), search_result_homes_path(q:{room_address_prefecture_cont: "大阪府"}) %>
      <%= link_to image_tag("img_kyoto.jpeg", class:"kyoto-img"), search_result_homes_path(q:{room_address_prefecture_cont: "京都府"}) %>
      <%= link_to image_tag("img_sapporo.jpeg", class:"sapporo-img"), search_result_homes_path(q:{room_address_prefecture_cont: "北海道"}) %>
    <div>
  </div>
</div>
