

<% if @posts_for_kaminari.present?%>
  <% @posts_for_kaminari.each do |post| %>
<%= link_to image_tag(post.room_photo.to_s, class:"search_result"), "/posts/#{post.id}" %>
    <% end %>
  <% else %>
    <p>該当する部屋はありませんでした。</p>
  <% end %>
  <%= paginate @posts_for_kaminari %>
