
<div class = "reservation_list">
  <table>
    <thead>
      <tr>
        <th>お部屋の写真</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>ご予約確定日</th>
      </tr>
    <thead>
    <tbody>
      <% @reservations_relate.each do |reserve| %>
        <% @posts = Post.where(id: reserve.post_id) %>
          <% @posts.each do |post| %>
            <%= post.room_address_prefecture %>
            <%= reserve.room_fee %>
        <% end %>
      <% end %>
      <tr>
          <td></td>

</div>
