/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  *{
    margin:0;
    padding: 0;
  }

  .background_color{
    height: 100px;
    background-color:#f4f0e6;
  }

  .header_contents{
    align-items: center;
  }

  .header_contents a{
    width: 20%;
  }
  .logo{
    position: relative;
    width: 16vw;
    margin: 10px 0px;
  }

  .search_field{
    width: 70%;
    position: absolute;
    left: 23%;
    top: 6%
  }

  .search_field #q_room_address_prefecture_or_room_address_town_village_cont,
  .search_field #q_room_name_or_room_info_cont{
    height: 30px;
    width: 15%;
  }

  .user_profile{
    position: absolute;
    right: 8%;
    top: 1.5%;
  }

  .before_login{
    position: absolute;
    right: 8%;
    top: 1.5%;
    list-style: none;
  }

  .before_login li{
    padding: 5px 0px;
  }

  .user_avatar {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    min-width: 75px;
    min-height: 75px;
    opacity: 1;
    object-fit: cover;
    margin-left: 10px;
  }

  .user_profile span{
    width:200px;
    position: absolute;
    top:22px;
    right: 120px;
    text-align: right;
  }

  .links{
    margin: 80px;
    margin-left:20px
  }

  .links li{
    list-style: none;
    box-sizing: content-box;
    padding:20px 0px;
    font-size: 20px;
    width: max-content;
  }

.background_color_footer {
  background-color:#f4f0e6;
}

.background_color_footer p{
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  padding: 50px 0px 20px 0px;
  margin-bottom: 0px;
  height: 60px;
}

.messages{
  margin-top: 10px;
  width: 33%;
  text-align: center;
  justify-content: center;
  margin-left: 30%;
}

.errors li,.alert{
  display: block;
  background-color: red;
  color: white;
}

.notice{
  display: block;
  background-color: #17e05d;
  color: white;
}

/*　ハンバーガーメニュー記述 ここから*/

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #f4f0e6;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #cac8c8;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    right: 0;/*メニューを画面内へ*/
}

/*　ハンバーガーメニュー記述 ここまで*/
